body {
    
    background-color:black;

}

.lenta1 {
    margin: 0px;
    padding: 5px;
    border: 0px;
    color: orangered;
    background: rgba(52, 50, 50, 0.952);
    font-size: 5rem;
    height: 20%;
    width:100%;
       
    text-align: center;

}

.data_now1 {
    color: rgb(255, 55, 0);
    font-size: 3rem;
          
    text-align: center;
 
}

.ssylka1 {
    color: rgb(255, 55, 0);
    font-size: 5rem;
    text-align: center;
    height: 20%;
    width:100%;
    background-color: rgb(110, 109, 112);
    margin: 0px;
    padding: 0px;
    border: 0px;
 
}
